<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Pollo Rico</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <a href="~/css/bootstrap.min.css.map"></a>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <!-- style css -->

    <link href="~/css/slick.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- Responsive-->
    <link href="~/css/responsive.css" rel="stylesheet" />
    <!-- Scrollbar Custom CSS -->
    <link href="~/css/jquery.mcustomscrollbar.min.css" rel="stylesheet" />
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- font awesome -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--  -->
    <!-- owl stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext" rel="stylesheet">

    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link rel="stylesoeet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <link href="~/css/efecto flip/acerca.css" rel="stylesheet" />
   
</head>
<body>
    <header>
        
            <div style="background-color:#b98e02">
            
         <!-- header top section start -->
            <div class="container">
                <div class="header_section_top">
                 <div class="row">
                    <div class="col-sm-12">
                        <div class="custom_menu">
                            <ul>
                                <li><a href="@Url.Action("About_Us","HOME")">ABOUT US</a></li>
                                 <li><a href="@Url.Action("Contact","HOME")">CONTACT</a></li>
                                <li><a href="@Url.Action("Index","HOME")">POLLO RICO</a></li>
                                <li><a href="@Url.Action("Main","HOME")">MAINTENANCE</a></li>
                                </ul>
                         </div>
                      </div>
                   </div>
              </div>
            </div>    
            
            <br /><br />
            <br /><br />
            <div class="header_section">
                <div class="container">
                    <div class="containt_main">
                        <div id="mySidenav" class="sidenav">
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                            <a href="index.html">Home</a>
                            <a href="fashion.html">Fashion</a>
                            <a href="electronic.html">Electronic</a>
                            <a href="jewellery.html">Jewellery</a>
                        </div>
                        <span class="toggle_icon" onclick="openNav()"><img src="~/images/toggle-icon.png" /></span>
                        
                        <div class="main">
                            <!-- Another variation with a button -->
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search this blog">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="button" style="background-color: #f26522; border-color:#f26522 ">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                         <div class="header_box">
                    <div class="login_menu">
                        <ul>
                                    <li>
                                        <a href="@Url.Action("Shopping","HOME")">
                              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                              <span class="padding_10">Cart</span></a>
                           </li>
                           <li><a href="@Url.Action("Log_In","SESSION")">
                              <i class="fa fa-user" aria-hidden="true"></i>
                              <span class="padding_10">Log In</span></a>
                           </li>
                        </ul>
                     </div>
                  </div>
                      
                    </div>
                </div>
            </div>
            </div>
            <!-- header section end -->
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">

        <div class="footer_section layout_padding">
            <div class="container">
                
                <div class="input_bt">
                    <input type="text" class="mail_bt" placeholder="Your Email" name="Your Email">
                    <span class="subscribe_bt" id="basic-addon2"><a href="#">Subscribe</a></span>
                </div>
                
                <div class="location_main">Help Line  Number : <a href="#">+1 1800 1200 1200</a></div>
                <div class="container">
                    &copy; 2022 - Programacion Avanzada Web
                </div>
            </div>
        </div>
    </footer>
    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/plugin.js"></script>
    <!-- sidebar -->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
 
</body>
</html>
